@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
html {
  scroll-behavior: smooth;
}

/* Su dung trong blade Home */
  .movie-card img {
    aspect-ratio: 3/4; object-fit: cover;
  }
  .hero {
    background:#0d1117 url('https://images.unsplash.com/photo-1517604931442-7e0c8ed2963f?q=80&w=1600&auto=format&fit=crop') center/cover no-repeat;
    color:#fff; border-radius:1rem
  }
  .hero-overlay {
    backdrop-filter:brightness(.6); border-radius:1rem
  }
  a{text-decoration:none}
  .banner-wrapper { 
    max-height: 720px; overflow: hidden; 
  }
  .banner-img { 
    aspect-ratio: 16 / 6; object-fit: cover; transform: scale(1); transition: transform 4s ease; 
  }
  .carousel-item.active .banner-img { transform: scale(1.06); }
  .banner-overlay{
    position:absolute; inset:0; content:"";
    background: linear-gradient(180deg, rgba(0,0,0,.10) 0%, rgba(0,0,0,.45) 80%);
  }  
  .banner-caption{
    position:absolute; left:1rem; bottom:1rem; right:1rem;
    color:#fff; text-shadow:0 1px 2px rgba(0,0,0,.6);
    transform: translateY(10px); opacity:0; transition: all .5s ease;
  }
  .carousel-item.active .banner-caption{ transform: translateY(0); opacity:1; }
  .banner-caption h5{
    font-weight:700; letter-spacing:.3px;
    background: rgba(0,0,0,.35); display:inline-block; padding:.25rem .5rem; border-radius:.5rem;
  }
  .banner-caption p{
    background: rgba(0,0,0,.25); display:inline-block; padding:.2rem .5rem; border-radius:.5rem; margin-top:.25rem;
  }

/* Su dung trong blade Profile */
.cinema-title{
  color:#e71a0f;          
  font-weight:800;
  text-transform:uppercase;
  font-size:1.3rem;
  letter-spacing:.5px;
  margin-bottom:.5rem;
}